<div class="menu-bar">
</div>
  
<div class="main">
  <div class="question-post-form">
    <%= render partial: "question_post_form", locals: { community: @community, question: @question } %>
    <%= link_to "削除する", community_question_path(@community, @question), method: :delete, class:"delete-btn" %>
  </div>
</div>
