<div class="menu-bar">
</div>
  
<div class="main">
  <div class="question-post-form">
    <%= render partial: "question_post_form", locals: { community: @community, question: @question } %>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>
