<div class="wrapper">

  <div class="menu-bar">
  </div>
    
  <div class="main">
    <div class="main-heading">
      <%= @user.name %>のフォローユーザー
    </div>
    <ul class="posts">
      <% @following_users.each do |user| %>
        <li>
          <div class="user-card">
            <%= link_to user.name, user_path(user) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="right-bar">
    <div class="right-bar-box">
    </div>
    <div class="right-bar-box">
    </div>
  </div>
  
</div>