  <div class="menu-bar">

  </div>
    
  <div class="main">
    <div class="following-user-name-heading">
      <%= link_to @user.name, user_path(@user), class:"following-user-name" %>のフォロワー
    </div>
    <div class="user-index-area">
      <div class="user-cards">
        <%= render partial: "users_index", locals: { users: @follower_users  } %>
      </div>
    </div>
  </div>
