  <div class="menu-bar">
    
  </div>
    
  <div class="main">
    <div class="following-user-name-heading">
      <%= link_to @user.name, user_path(@user), class:"following-user-name" %>のフォロー
    </div>
    <div class="posts">
      <div class="user-cards">
        <%= render partial: "users_index", locals: { users: @following_users  } %>
      </div>
    </div>
  </div>
