<div class="wrapper">

  <div class="menu-bar">
    <div class="menu-bar-box">
      <div class="profile-image"></div>
      <ul class="menu-items">
        <li>ユーザー名</li>
        <li>フォロー</li>
        <li>フォロワー</li>
        <li>参加コミュニティ</li>
        <li>ユーザーを探す</li>
        <li>コミュニティを探す</li>
      </ul>
    </div>
  </div>
    
  <div class="main">
    <div class="main-heading">投稿する</div>
    <ul class="posts">
      <li>投稿1</li>
      <li>投稿2</li>
      <li>投稿3</li>
      <li>投稿4</li>
      <li>投稿5</li>
    </ul>
  </div>
  
  <div class="right-bar">
    <div class="right-bar-box">
    </div>
    <div class="right-bar-box">
    </div>
  </div>
  
</div>