<div class="wrapper">

  <div class="menu-bar">
    <div class="menu-bar-box">
      <div>
        <% if @profile.image.present? %>
          <%= image_tag @profile.image.variant(resize: "150x150"), class:"profile-image" %>
        <% end %>
      </div>
      <ul class="menu-items">
        <li>ユーザー名: <%= @user.name %> <%= link_to " 編集", edit_user_registration_path(@user) %> </li>
        <li>フォロー</li>
        <li>フォロワー</li>
        <li>参加コミュニティ</li>
        <li>ユーザーを探す</li>
        <li>コミュニティを探す</li>
      </ul>
    </div>
  </div>
    
  <div class="main">
    <div class="main-heading">投稿する</div>
    <ul class="posts">
      <li class="post">投稿1</li>
      <li class="post">投稿2</li>
      <li class="post">投稿3</li>
      <li class="post">投稿4</li>
      <li class="post">投稿5</li>
    </ul>
  </div>
  
  <div class="right-bar">
    <div class="right-bar-box">
    </div>
    <div class="right-bar-box">
    </div>
  </div>
  
</div>