<%= render partial: "sidebar", locals: { user: @user, profile: @profile, following_users: @following_users, follower_users: @follower_users, room: @room } %>
  
<div class="main">
  <div class="main-heading">
    <% if user_signed_in? && (current_user.id == @user.id) %>
      <%= link_to "タスクを登録する", new_user_task_path(@user), class:"task-post-btn" %> 
    <% end %>
  </div>
  <div class="posts">
    <% @tasks.each do |task| %>
      <div id="task_<%= task.id %>">
        <%= render partial: "shared/tasks", locals: { task: task} %>
      </div>
    <% end %>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>
