<% if current_user.already_me_too?(question) %>
  <%= link_to question_me_too_path(question, question_id: question.id), method: :delete, remote: true do %>
    <span class="metoo-text">知りたい!</span><i class="fas fa-exclamation un-metoo-btn"></i>
  <% end %>
<% else %>
  <%= link_to question_me_toos_path(question), method: :post, remote: true do %>
    <span class="metoo-text">知りたい!</span><i class="fas fa-exclamation metoo-btn"></i>
  <% end %>
<% end %>
<span class="question-response-count"><%= question.me_toos.count %></span>
