@import "style";

/* 質問回答エリア */
.answer-area {
  width: 95%;
  margin: 15px auto 0;
  padding: 10px;
  
  .answer-label {
    margin-bottom: 8px;
    font-weight: bold;
    display: inline-block;
    background-color: $card-back-color;
    padding: 5px 8px;
    border-radius: 5px;  
  }
  .answer-card {
  background-color: $card-back-color;
  border-radius: 5px;
  height: 75%;
  padding: 10px;
  margin-bottom: 15px;
    .answer-user {
      display: flex;
      align-items: center;  
      margin-bottom: 10px;
      .user-image {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 10px;  
      }
      .answer-user-name {
        color:   $sub-text-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .answer-comment {
      padding: 5px 10px;
    }
  }

  .answer-form-area {
    border-radius: 5px;
    margin-top: 25px;

    .answer-form-label {
      margin-bottom: 8px;
      font-weight: bold;
      display: inline-block;
      background-color: $card-back-color;
      padding: 5px 8px;
      border-radius: 5px;  
      }

    .answer-form {
      height: 100px;
      width: 100%;
      border: none;
      margin-bottom: 7px;
      outline: none;
      padding: 10px;
      border-radius: 5px;
    }
    .answer-submit {
      padding: 5px 8px;
      border: none;
      background-color: $highlight;
      color: $with-highlight;
      border-radius: 5px;
      display: block;
      width: 50px;
      margin: 0 0 0 auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
  
}
