/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

/* リセット */
 /* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@import "style";

/* wrapper */
.wrapper {  
  position: relative;
  background-color: lightgray;
  z-index: 0;
  &::before {
    content: '';
    background: url('back_sign_in.jpeg');
    background-size: cover;
    height: 100%;
    width: 100vw;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
  }
  .container {
    padding-top: 20px;
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
  }
}

/* header */
.header {
  height: 60px;
  width: 100vw;
  background-color: $highlight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;  
  & a {
    color: #eff0f3;
  }
  .header-left {
    display: block;
    height: 50px;
    width: 110px;
  }
  .header-right {
    font-size: 18px;
    height: 60px;
    display: flex;
    align-items: center;
    .header-menu {
      display: flex;
      justify-content: space-between;
      & a {
        padding: 30px 10px;
        &:hover {
          transition: 0.7s;
          background-color: #fead73;
          opacity: 0.8;
        }
      }
      & span {
        padding: 30px 0;
        color: #fac8a4;
      }
    }
  }
  .header-separater {
    color: $with-highlight;
  }
}


/* footer */
.footer {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $base-color;

  .footer-message {
    color: gray;
  }
}

::placeholder {
  color: lightgray;
}

/* 必須ラベル */
.must {
  color: red;
  font-size: 12px;
}

/* btn共通 */
.btn {
  &:hover {
    opacity: 0.7;
  }
}
