
.un-good-btn {
  font-size: 15px;
  color: #2a2a2a;
  &:hover {
    opacity: 0.8;
  }
}

.good-btn {
  font-size: 15px;
  color: #808080;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}

.good-text {
  font-size: 13px;
  color: #808080;
  margin: 5px;
}