@import "style";

/* 質問一覧ページ */
.posts {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}
.create-question-btn {
  display: inline-block;
  background-color: $highlight;
  color: $with-highlight;
  padding: 7px;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 18px;
}

.question-summary-card {
  width: 100%;
  margin: 10px auto 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: $card-back-color;

  .question-summary-head {
    margin: 0 auto;
    padding-bottom: 15px;
    .question-title {
      font-size: 18px;
      color: $main-text-color;
      &:hover {
        text-decoration: underline;
      }
    }
    .question-date {
      font-size: 14px;
      color: $sub-text-color;
    }
  }
  .question-summary-status {
    display: flex;
    justify-content: flex-end;
    .question-summary-response {
      color: $sub-text-color;
      margin-right: 15px;
      .question-summary-metoo {
        margin-right: 5px;
      }
    }
    .question-summary-close {
      color: $sub-text-color;
    }
    .question-summary-open {
      color: $highlight;
    }
  }
}


/* 質問詳細ページ */
.question-area {
  border: 1px solid lightgray;
  width: 90%;
  margin: 0 auto;
  padding: 20px;

  .question-card {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 75%;
    padding: 15px;

    .question-user {
      display: inline-block;
      margin-bottom: 10px;
      text-decoration: none;
    }

    .question-title {
      border-bottom: 1px solid lightgray;
      font-size: 20px;
      padding-bottom: 10px;
      margin-bottom: 10px;

      .edit-btn {
        text-decoration: none;
        font-size: 15px;
        color: gray;
      }
    }

    .question-content {
      border-bottom: 1px solid lightgray;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

    .question-image {
      margin: 20px 0;
    }

    .question-response-area {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & a {
        text-decoration: none;
      }
      .metoo-btn, .helpful-btn {
        margin-left: 5px;
      }
    }
  }
}

/* 知りたい！役に立った！カウント */
.response-count {
  color: lightgray;
}


/* 受付 解決済み ボタン */
.question-open {
  padding: 15px;
  color: #eeeeee;
  border-radius: 5px;
  margin-left: 8px;
  background-color: lightcoral;
}
.question-close {
 padding: 15px;
 color: #eeeeee;
 border-radius: 5px;
 margin-left: 8px;
 background-color: lightskyblue;
}


.answer-area {
  border: 1px solid lightgray;
  width: 90%;
  margin: 15px auto 0;
  padding: 20px;

  .answer-form-area {
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;

    .answer-form-label {
      margin-bottom: 8px;
      font-weight: bold;
    }

    .answer-form {
      height: 100px;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 7px;
      outline: none;
      padding: 10px;
    }
  }
  
  .answer-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 75%;
  padding: 10px;
  margin-bottom: 15px;

    .answer-user {
      margin-bottom: 10px;
    }
  }
}


/* 編集画面 */
 .delete-btn {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 20px;
  color: gray;
}