@import "style";


/* タスク投稿フォーム */
.task-post-form {
  width: 100%;
  margin: 0 auto 20px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: $card-back-color;

  .task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .field_with_errors {
      display: contents;
    }
    .task-label {
      margin-bottom: 5px;
      font-weight: 500;
      width: 10%;
      padding-top: 3px;
    }
    .task-input {
      width: 100%;
      padding: 10px 12px 8px;
      margin-bottom: 8px;
      outline: none;
      font-size: 15px;
      border: none;
      background-color: $base-color;
      color: $main-text-color;

      &.text {
        height: 60px;
        color: $sub-text-color;
      }
    }
  }

  .task-submit {
    display: block;
    width: auto;
    padding: 2px 8px;
    margin: 0 0 0 auto;
    background-color: $highlight;
    color: $with-highlight;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

/* タスクカード */
.post-card {
  width: 100%;
  margin: 0 auto 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: $card-back-color;

  .post-user {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .user-image {
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }
    .user-name {
      color: $main-text-color;
      &:hover {
        text-decoration: underline;
      }
    }
    .task-date {
      color: $sub-text-color;
      font-size: 14px;
      margin-left: 8px;
    }
  }
  .post-title {
    width: 95%;
    margin: 0 auto;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid $base-color;
    font-weight: 300px;
  }
  .post-text {
    width: 95%;
    margin: 10px auto 0;
    padding-bottom: 10px;
    word-break: break-all;
    border-bottom: 1px solid $base-color;
    color: $sub-text-color;
  }

  .edit-area {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .edit-btn, .delete-btn {
      color: lightgray;
      font-size: 14px;
      margin: 0 8px;
    }
    .edit-btn-text, .delete-btn-text {
      margin-left: 5px;
    }
  }
  
  .like-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    .like-count {
      margin-left: 7px;
    }
  }
}

/* 完了ボタン */
.complete {
  background-color: $highlight;
  color: $with-highlight;
  border: none;
  padding: 6px 7px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
}

/* 完了済み */
.completed-btn {
  text-decoration: none;
  background-color: lightgray;
  color: $with-highlight;
  border: none;
  padding: 7px;
  font-size: 20px;
  border-radius: 5px;
  width: 120px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
}

/* 完了タスク一覧 */
.completed-task-heading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: $card-back-color;
  width: 70%;
  margin: 0 auto;
  padding: 5px 8px;
}
.task-index-user-name {
  color: $main-text-color;
  margin-right: 8px;
  &:hover {
    text-decoration: underline;
  }
}
.finihed-task-area {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  padding: 0 10px 10px;
}
.finished-posts-cards {
  height: 100%;
  overflow: scroll;
  border-radius: 5px;
  margin-top: 20px;
}