<div class="menu-bar">
</div>
  
<div class="main">
  <div class="community-post-form">
    <%= render partial: "communities/community_form", locals: { community: @community } %>
  </div>
</div>

<div class="right-bar">
  <div class="right-bar-box">
  </div>
  <div class="right-bar-box">
  </div>
</div>